tests/fixtures/basic_schema.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class_a" type="o/tests/basic/master/class/class_a"/>
  <xs:complexType name="o/tests/basic/master/class/class_a">
    <xs:sequence>
      <xs:element name="property_a" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>