tests/fixtures/inheritance_schema.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class5" type="o/tests/inheritance_chain_2/master/class/class5"/>
  <xs:complexType name="o/tests/inheritance_chain_2/master/class/class5">
    <xs:sequence>
      <xs:element name="e" type="xs:string" minOccurs="0"/>
      <xs:element name="a" type="xs:boolean" minOccurs="0"/>
      <xs:element name="d" type="xs:string" minOccurs="0"/>
      <xs:element name="c" type="xs:string" minOccurs="0"/>
      <xs:element name="b" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>