tests/fixtures/propertyVariationsSchema.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="class1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="a" type="xs:boolean" minOccurs="0"/>
        <xs:element name="a1" type="xs:string" minOccurs="0"/>
        <xs:element name="b" type="xs:string"/>
        <xs:element name="c" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="d" type="xs:anyURI" minOccurs="0"/>
        <xs:element name="e" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".+@.+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="f" type="xs:string" minOccurs="0"/>
        <xs:element name="g" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[a-z]"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="g1" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="g2" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="0"/>
              <xs:maxLength value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="h" type="xs:float" minOccurs="0"/>
        <xs:element name="i" type="xs:integer" minOccurs="0"/>
        <xs:element name="j" type="xs:byte" minOccurs="0"/>
        <xs:element name="k" type="xs:short" minOccurs="0"/>
        <xs:element name="l" type="xs:integer" minOccurs="0"/>
        <xs:element name="m" type="xs:long" minOccurs="0"/>
        <xs:element name="n" type="xs:float" minOccurs="0"/>
        <xs:element name="o" type="xs:double" minOccurs="0"/>
        <xs:element name="p" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:float">
              <xs:minExclusive value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="q" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:float">
              <xs:minExclusive value="0"/>
              <xs:maxExclusive value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="r" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="one"/>
              <xs:enumeration value="two"/>
              <xs:enumeration value="3"/>
              <xs:enumeration value="4.5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="s" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="s1" type="xs:date" minOccurs="0"/>
        <xs:element name="s2" type="xs:dateTime" minOccurs="0"/>
        <xs:element name="s3" type="xs:time" minOccurs="0"/>
        <xs:element name="t">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="u" type="xs:string" minOccurs="0"/>
              <xs:element name="v">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="w" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="x" type="class2" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="class2">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="y" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>